@import "../../../assets/scss/variables.scss";

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 1060 !important;
}

.navbar {
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.header {
  border-bottom: 1px solid #17a2b8;
  background-color: $black;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.25);
}
.top-nav {
  list-style: none;
  margin: 0 0 auto;
  list-style: none;
  height: 100%;
  position: relative;
  /* display: inline-flex; */
  width: 100%;
  text-align: right;
  /* float: right; */
}

.li-class {
  color: azure;
  cursor: pointer;
}

.header--body {
  background: $green;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  position: fixed;
  height: $header-body__height;

  .logo__img {
    position: fixed;
    height: 12vh;
    top: 1vh;
    margin-left: 11%;
    left: 0;
  }

  .header-text {
    font-size: calc(16 * #{$px});
    line-height: calc(27 * #{$px});
    color: $white-font-color;
  }
}

.header--bottom {
  background: $grey-color;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: $header-bottom__height;
  left: 0;
  right: 0;
  z-index: 9;
  top: $header-bottom__top_position;
  position: fixed;

  .logo-circle {
    border-radius: 100px;
    background-color: $orange;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;

    .logo-text {
      font-size: 26px;
      line-height: 35px;
      color: $black;
      position: relative;
    }
  }
}
