<header class="header--black" style="position: relative !important">
  <nav class="navbar navbar-static-top">
    <div class="top-nav row">
      <div class="flex-center col-2">
        <div class="logo-circle">
          <p class="logo-text">V</p>
        </div>
      </div>
    </div>
  </nav>
</header>

<header class="header--classic" style="position: relative !important">
  <nav class="navbar navbar-static-top">
    <div class="top-nav row">
      <div class="flex-h-end flex-v-center col-12 mr-5">
        <div class="d-inline-flex">
          <span class="header-text">About</span>
        </div>
        <div class="d-inline-flex ml-5">
          <span class="header-text">Resume</span>
        </div>
        <div class="d-inline-flex ml-5">
          <span class="header-text">Portfolio</span>
        </div>
        <div class="d-inline-flex ml-5">
          <span class="header-text">Contact</span>
        </div>
      </div>
    </div>
  </nav>
</header>