<header class="header--body">
  <nav class="navbar navbar-static-top">
    <div class="top-nav row">
      <!-- <div class="flex-h-end flex-v-center col-2"> -->
      <!-- <div class="logo-size__div"> -->
      <!-- </div> -->
      <!-- </div> -->
      <div class="col-12">
        <img class="logo__img" src="assets/svg/hexagon.svg">
        <div class="flex-h-end flex-v-center h-100">
          <div class="d-inline-flex">
            <span class="header-text">About</span>
          </div>
          <div class="d-inline-flex ml-5">
            <span class="header-text">Resume</span>
          </div>
          <div class="d-inline-flex ml-5">
            <span class="header-text">Portfolio</span>
          </div>
          <div class="d-inline-flex ml-5">
            <span class="header-text">Contact</span>
          </div>
        </div>

      </div>
    </div>
  </nav>
</header>
<header class="header--bottom">
  <!-- <nav class="navbar navbar-static-top">
    <div class="top-nav row">
      <div class="flex-center col-2">
        <div class="logo-circle">
          <p class="logo-text">V</p>
        </div>
      </div>
    </div>
  </nav> -->
</header>