/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../src/assets/scss/variables.scss";
@import "../src/assets/scss/flex-classes.scss";
@import "../src/assets/scss/social-buttons.scss";
p,
label,
span,
a,
h1,
h2,
h3,
h4,
h5 {
  font-family: Noto Serif;
  color: white;
}
.font-family-ubuntu {
  font-family: Ubuntu;
  color: white;
}
