<main
  class="main"
  style="overflow-x: hidden; height: 100vh; background-color: #d7e6fa96;"
>
  <div>
    <app-header></app-header>
  </div>
  <section class="section" style="height: 40vh; padding-top: 100px">
    <div
      class="row mt-5 flex-h-start"
      style="height: 50vh;align-items: center; padding-left: 50px; padding-right: 50px"
    >
      <div class="flex-center row col-12">
        <div class="col-5">
          <p class="greeting m-0">Hi! I am Viktor.</p>
          <p class="greeting">I am Web Developer.</p>
        </div>
        <div class="col-1 flex-h-end flex-v-center">
          <ul class="loading-frame">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </ul>
        </div>
      </div>
      <div class="container"></div>
    </div>

    <div class="row flex-center" style="margin-top: 40vh; margin-bottom: 20vh">
      <div class="flex-center profile-card p-4">
        <div class="col-4">
          <img src="assets/images/profile-pic.jpg" class="profile-pic" />
        </div>
        <div class="col-6">
          <p class="personal-description">
            I am a Web Developer based in Portugal.
          </p>
          <p class="personal-description">
            I'm passionate about UI and UX and I am Experienced Frontend
            Developer
          </p>
          <p class="personal-description">
            Keep focus on achieving quality both professionally and personally.
          </p>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="effect aeneas">
        <div class="buttons">
          <a
            href="https://www.facebook.com/vitia.vasilkovskui"
            class="fb"
            title="Join us on Facebook"
            ><i class="fa fa-facebook" aria-hidden="true"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/viktor-vasylkovskyi-708b1712b/"
            class="in"
            title="Join us on Linked In"
            ><i class="fa fa-linkedin" aria-hidden="true"></i
          ></a>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- <a href="#" class="tw" title="Join us on Twitter"
><i class="fa fa-twitter" aria-hidden="true"></i
></a>
<a href="#" class="g-plus" title="Join us on Google+"
><i class="fa fa-google-plus" aria-hidden="true"></i
></a>
<a href="#" class="dribbble" title="Join us on Dribbble"
><i class="fa fa-dribbble" aria-hidden="true"></i
></a>
<a href="#" class="vimeo" title="Join us on Vimeo"
><i class="fa fa-vimeo" aria-hidden="true"></i
></a>
<a href="#" class="pinterest" title="Join us on Pinterest"
><i class="fa fa-pinterest-p" aria-hidden="true"></i
></a>
<a href="#" class="insta" title="Join us on Instagram"
><i class="fa fa-instagram" aria-hidden="true"></i
></a> -->
<!--     
<div class="effect jaques">

</div>

<div class="effect egeon">

</div>

<div class="effect claudio">

</div>

<div class="effect laertes">

</div> -->
