<main class="main" style="overflow-x: hidden; height: 100vh;">
  <div>
    <app-header></app-header>
  </div>
  <div class="row mt-5 flex-h-start introduction-section">
    <div class="flex-v-center offset-1 row col-12 introduction row col-12 introduction">
      <div class="col-6">
        <p class="hi__label">Hi, my name is</p>
        <p class="my-name__label">Viktor Vasylkovskyi</p>
        <p class="short-description__label">
          I am a Software Engineer based in Lisbon, specialized in web
          development and building (and sometimes design) of a high quality
          websites and applications.
        </p>
        <div class="row mt-4">
          <div class="col-12">
            <button class="btn call-to-action__button col-7">
              <p class="button-text__paragraph m-0">View my work</p>
            </button>
          </div>
        </div>
      </div>
      <div class="col-6">

        <ul id="grid" class="clear">



          <li>
            <div class="hexagon">
          <li class="inner">
            <div class="hexagon-inner"></div>
          </li>
      </div>
      </li>
      <li>
        <div class="hexagon">
      <li class="inner">
        <div class="hexagon-inner"></div>
      </li>
    </div>
    </li>
    <li>
      <div class="hexagon">
    <li class="inner">
      <div class="hexagon-inner"></div>
    </li>
  </div>
  </li>
  <li>
    <div class="hexagon">
  <li class="inner">
    <div class="hexagon-inner"></div>
  </li>
  </div>
  </li>
  <li>
    <div class="hexagon">
  <li class="inner">
    <div class="hexagon-inner"></div>
  </li>
  </div>
  </li>
  <li>
    <div class="hexagon">
  <li class="inner">
    <div class="hexagon-inner"></div>
  </li>
  </div>
  </li>
  <li>
    <div class="hexagon">
  <li class="inner">
    <div class="hexagon-inner"></div>
  </li>
  </div>
  </li>
  <li>
    <div class="hexagon">
  <li class="inner">
    <div class="hexagon-inner"></div>
  </li>
  </div>
  </li>
  <li>
    <div class="hexagon">

    </div>
  </li>

  </ul>

  </div>
  <!-- <div class="col-1 flex-h-end flex-v-center">
          <ul class="loading-frame">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </ul>
        </div> -->
  </div>
  <div class="container"></div>
  </div>
  <!-- <div class="wave-container wave">
      <img src="assets/svg/wave.svg" />
    </div> -->
  <div class="what-do-i-do-container flex-v-center flex-h-end">
    <div class="col-6" style="margin-bottom: 30vh; margin-top: 30vh">
      <div class="row">
        <div class="col-12 flex-center">
          <label class="what-do-i-do__label">What do I do</label>
        </div>
      </div>
      <div class="row flex-center">
        <div class="col-12" style="max-width: 270px;">
          <hr class="horizontal-line mt-0 mb-4" />
        </div>
      </div>
      <div class="row flex-center">
        <div class="col-md-12 col-lg-7 text-left">
          <label class="what-do-i-do-description__label">
            I'm passionate about UI design, animations and cool effects. I can
            develop a web page which has intuitive user interface and provide
            a great user experience.
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="wave-container wave-inverse">
    <img src="assets/svg/inverse-wave.svg" />
  </div> -->
  <div class="my-journey-container flex-center">
    <div>
      <div class="row" style="margin-top: 30vh;">
        <div class="col-12 flex-center">
          <label class="title">My Journey</label>
        </div>
      </div>
      <div class="row flex-center">
        <div class="col-4">
          <hr class="horizontal-line" />
        </div>
      </div>
      <div class="row flex-center mt-5" style="margin-bottom: 30vh">
        <div class="col-6 pl-0 journey-box pt-4 pb-4">
          <div class="row">
            <div class="col-3">
              <div style="text-align: center;">
                <li class="journey-separator" [class.selected-border]="selectedJourney === skyJourney"
                  (click)="selectedJourney = skyJourney">
                  Sky
                </li>
                <li class="journey-separator" [class.selected-border]="selectedJourney === indraJourney"
                  (click)="selectedJourney = indraJourney">
                  Indra
                </li>
              </div>
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col-8">
                  <label class="journey-title">{{ selectedJourney.title }}</label>
                </div>
                <div class="col-4">
                  <label class="journey-company">{{ selectedJourney.company }}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <label class="journey-period">{{ selectedJourney.period }}</label>
                </div>
              </div>
              <ng-container *ngFor="let project of selectedJourney.projects; let i = index">
                <div class="row">
                  <div class="col-12">
                    <label class="journey-project-name">{{ project.name }}</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <label class="journey-project-content">{{ project.content }}</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <label class="journey-project-scope">{{ project.scope }}</label>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 
    <div class="row flex-center">
      <div class="flex-center profile-card p-4">
        <div class="col-4">
          <img src="assets/images/profile-pic.jpg" class="profile-pic" />
        </div>
        <div class="col-6">
          <p class="personal-description">
            I am a Web Developer based in Portugal.
          </p>
          <p class="personal-description">
            I'm passionate about UI and UX and I am Experienced Frontend
            Developer
          </p>
          <p class="personal-description">
            Keep focus on achieving quality both professionally and personally.
          </p>
        </div>
      </div>
    </div> -->
  <div class="hexagons-container">
    <div class="hex">
      <div class="hex inner flex-center">
        <label class="hex-label">UI</label>
      </div>
    </div>
    <hr class="horizontal-line">
    <div class="hex">
      <div class="hex inner flex-center">
        <label class="hex-label">UX</label>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 30vh;">
    <div class="col-12 flex-center">
      <label class="title">My Work</label>
    </div>
  </div>
  <div class="row flex-center">
    <div class="col-5">
      <hr style="border-top: 3px solid black;" />
    </div>
  </div>
  <div class="row">
    <div class="col-12 flex-center">
      <div class="row flex-center w-100 mt-5">
        <div class="col-4 p-0 mr-5 card-class">
          <work-card [imgUrl]="'assets/images/JUL.png'" [title]="'JUL'" [description]="'Bla bla bla'"></work-card>
        </div>
        <div class="col-4 p-0 ml-5 card-class">
          <work-card [imgUrl]="'assets/images/peacock.png'" [title]="'Peacock'" [description]="'Bla bla bla'">
          </work-card>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4" style="margin-bottom: 30vh">
    <div class="col-12 flex-center">
      <div class="row flex-center w-100"></div>
    </div>
  </div>

  <div class="footer">
    <div class="row pt-5">
      <div class="col-12" style="text-align: center">
        <label class="contact">
          Feel free to contact me on any of the social platforms below
        </label>
      </div>
    </div>
    <div class="row flex-center">
      <div class="col-5">
        <hr class="hr-class" />
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-12" style="text-align: center">
        <label class="all-rights-reserved">© 2020 Viktor Vasylkovskyi. All rights reserved. Sky
          Developer</label>
      </div>
    </div>
    <div class="effect aeneas">
      <div class="buttons">
        <a href="https://www.facebook.com/vitia.vasilkovskui" class="fb" title="Join us on Facebook"><i
            class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/viktor-vasylkovskyi-708b1712b/" class="in" title="Join us on Linked In"><i
            class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</main>
<!-- <a href="#" class="tw" title="Join us on Twitter"
><i class="fa fa-twitter" aria-hidden="true"></i
></a>
<a href="#" class="g-plus" title="Join us on Google+"
><i class="fa fa-google-plus" aria-hidden="true"></i
></a>
<a href="#" class="dribbble" title="Join us on Dribbble"
><i class="fa fa-dribbble" aria-hidden="true"></i
></a>
<a href="#" class="vimeo" title="Join us on Vimeo"
><i class="fa fa-vimeo" aria-hidden="true"></i
></a>
<a href="#" class="pinterest" title="Join us on Pinterest"
><i class="fa fa-pinterest-p" aria-hidden="true"></i
></a>
<a href="#" class="insta" title="Join us on Instagram"
><i class="fa fa-instagram" aria-hidden="true"></i
></a> -->
<!--     
<div class="effect jaques">

</div>

<div class="effect egeon">

</div>

<div class="effect claudio">

</div>

<div class="effect laertes">

</div> -->